<%= link_to @story.title, story_path(@story) %>

<h4>  Author: <%= @sentence.author%></h4>

<h4> Text: <%= @sentence.text %></h4>


<%= image_tag @sentence.image_url %>
<br><br>

<%= link_to "Edit", edit_story_sentence_path(@story, @sentence) %>
<br>
<%= link_to "Delete", story_sentence_path(@story, @sentence),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
